body{
    display: block;
    margin: 0px;
}
header{
    display: block;
    padding: 20px 0px 20px 253.5px;
    width: 1111px;
    margin: 0px 0px 0px 0px;
    font: 700 35px "Trebuchet MS",Arial,sans-serif;
    text-shadow: 1px 1px 1px black, 0 0 1em #E2DBDB;
    color: white;
    font-size: 2em;
    float: left;
    height: 68px;
    background-image: url("image/bomzh.jpg");
}
span {
    color: #FFD700;
}

span:first-child{
    color: #ff0000;
}
.panel-menu
{
    display: none;
}
section {
    display: block;
    /*background: #E2DBDB;*/
    margin-right: 176.5px;
    margin-left: 176.5px;
    height: 50%;
    width: 996px;
    float: left;
}

.nav {
    width: 268px;
    float: left;
    margin: 0px;
}

ul.nav li {
    width: 269px;
    height: 20px;
    padding-top: 10px;
    background-color: #fbf4f4;
    border: 1px solid #d0cece;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 5px;
    display: block;
    margin-top: 5px;
    margin-left: -20px;
    opacity: .8;
    overflow: hidden;
    font: 12px Arial,"Helvetica Neue",Helvetica,sans-serif;
}

.nav a {
    text-decoration: none;
    display: block;
    font-size: 14px;
    font-weight: bold;
    padding: 0px 0px 0px 10px;
    color: #1C1C1C;
}
.nav a:hover {
    text-decoration: none;
    color: rgb(140, 47, 80);
}

h2 {
    font-family: "Trebuchet MS", Arial, sans-serif;
    color: #6A5324;
    font-size: 24px;
    text-align: left;
    width: 268px;
}
.abzatz {
    text-align: justify;
    font: 14px Arial, "Helvetica Neue", Helvetica, sans-serif;
    width: 996px;
    height: 96px;
    margin: 23px 0px;
}